<h1>Create new memorabilia</h1>

<%= form_with scope: :product, local: true do |form| %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :brand %>
    <%= form.text_field :brand %>
  </p>

  <p>
    <%= form.label :material %>
    <%= form.text_field :material %>
  </p>

  <p>
    <%= form.label :size %>
    <%= form.text_field :size %>
  </p>

  <p>
    <%= form.label :size %>
    <%= form.text_field :size %>
  </p>

  <p>
    <%= form.label :size %>
    <%= form.text_field :size %>
  </p>


      t.string "name"
    t.string "brand"
    t.string "material"
    t.string "size"
    t.string "player"
    t.decimal "price"

  
 
  <p>
    <%= form.submit %>
  </p>
<% end %>