<%= form_with model: product, local: true do |form| %>
  <div class="row">
    <div class="col-2">
      <%= form.label :name %>
    </div>
    <div class="col-10">
      <%= form.text_field :name %>
    </div>

  <div class="col-2">
    <%= form.label :brand %>
    </div>
    <div class="col-10">
    <%= form.text_field :brand %>
  </div>

  <div class="col-2">
    <%= form.label :material %>
    </div>
    <div class="col-10">
    <%= form.text_field :material %>
  </div>

  <div class="col-2">
    <%= form.label :size %>
    </div>
    <div class="col-10">
    <%= form.text_field :size %>
  </div>

  <div class="col-2">
    <%= form.label :player %>
    </div>
    <div class="col-10">
    <%= form.text_field :player %>
  </div
  >
  <div class="col-2">
    <%= form.label :price %>
    </div>
    <div class="col-10">
    <%= form.text_field :price %>
  </div>

  <div class="col-12">
    <% if @product.pic.attached? %>
        <div><%= @product.pic.filename %></div>
    <% else %>
        <%= label_tag(:productImage, "Image") %>
        <div><%= form.file_field :pic, required: true %></div>
    <% end %> 
  </div>

  <div>
    <%= form.submit %>
  </div>
  </div>
<% end %>