<%= form_with scope: :product, url: products_path, local: true do |form| %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :brand %>
    <%= form.text_field :brand %>
  </p>

  <p>
    <%= form.label :material %>
    <%= form.text_field :material %>
  </p>

  <p>
    <%= form.label :size %>
    <%= form.text_field :size %>
  </p>

  <p>
    <%= form.label :player %>
    <%= form.text_field :player %>
  </p>

  <p>
    <%= form.label :price %>
    <%= form.text_field :price %>
  </p>

    <% if @product.pic.attached? %>
        <div><%= @product.pic.filename %></div>
    <% else %>
        <%= label_tag(:productImage, "Image") %>
        <div><%= form.file_field :pic, required: true %></div>
    <% end %> 

  <p>
    <%= form.submit %>
  </p>
<% end %>